body{
  font-family:Arial;
}
.todo-grid,
.todo-input-grid{
  display:grid;
  grid-template-columns:200px 150px 100px;
  column-gap:10px;
  row-gap:10px;
  align-items: center;
}
.todo-input-grid{
  margin-bottom:10px;
  align-items:stretch;
  
}
.name-input,
.input-date{
  padding:4px;
  height: 30px;

}
.add-button{
  background-color: green;
  border:none;
  color:white;
  font-size:15px;
  cursore:pointer;
}
.delete-button{
  padding:10px;
  background-color:red;
  border:none;
  color:white;
  font-size:15px;
}